[project]
	description = Evaluate Gerrit with GitHUB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sasanka Vemavarapu (sasanka70)
[access "refs/for/refs/*"]
	read = group user/Sasanka Vemavarapu (sasanka70)
	push = group user/Sasanka Vemavarapu (sasanka70)
	label-Code-Review = -2..+2 group user/Sasanka Vemavarapu (sasanka70)
	label-Verified = -1..+1 group user/Sasanka Vemavarapu (sasanka70)
	rebase = group user/Sasanka Vemavarapu (sasanka70)
	removeReviewer = group user/Sasanka Vemavarapu (sasanka70)
	submit = group user/Sasanka Vemavarapu (sasanka70)
[access "refs/heads/*"]
	read = group user/Sasanka Vemavarapu (sasanka70)
	create = group user/Sasanka Vemavarapu (sasanka70)
	push = +force group user/Sasanka Vemavarapu (sasanka70)
	pushMerge = group user/Sasanka Vemavarapu (sasanka70)
[access "refs/tags/*"]
	push = +force group user/Sasanka Vemavarapu (sasanka70)
	pushTag = group user/Sasanka Vemavarapu (sasanka70)
	pushSignedTag = group user/Sasanka Vemavarapu (sasanka70)
